.rvmrc
.bundle/
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.redcar/
.specjour
public/uploads/
public/assets/
public/spree/
lib/ignored/
.DS_Store
dump.rdb
.project
.profile
hookup/
nbproject/
vendor/webpay/log/